<!DOCTYPE html>
<html>

<head>
  <meta
    name='theme-color'
    content='#f0eef6'
  />
  <link
    href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap'
    rel='stylesheet'
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charSet='UTF-8' />
  <link
    rel='shortcut icon'
    href='/favicon.png'
    type='image/png'
  />
  <link
    rel='apple-touch-icon'
    href='/favicon.png'
  />
  <link
    rel='icon'
    href='/favicon.png'
  />
  <title inertia>MyLinks</title>
	@if(nodeEnv === 'production')
  <link
    rel='manifest'
    href='/assets/manifest.webmanifest'
  />
	<script defer>
    if('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/assets/sw.js', { scope: '/' })
      })
    }
  </script>
	@endif

  @routes()
  @inertiaHead()
  @viteReactRefresh()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body>
  @inertia()
</body>

</html>
