<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charSet='UTF-8' />
  <link
    rel='shortcut icon'
    href='/favicon.png'
    type='image/png'
  />
  <link
    rel='apple-touch-icon'
    href='/favicon.png'
  />
  <link
    rel='icon'
    href='/favicon.png'
  />
  <title inertia>MyLinks</title>

	@if(nodeEnv === 'production')
  <link
    rel='manifest'
    href='/assets/manifest.webmanifest'
  />
	<script defer>
    if('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/assets/sw.js', { scope: '/' })
      })
    }
  </script>
	@endif

	<script>
    (function() {
      const savedTheme = localStorage.getItem('theme');
      const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

      let theme = 'system';

      if (savedTheme) {
        theme = savedTheme;
      }

      if (theme === 'system') {
        if (systemPrefersDark) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      } else if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    })();
  </script>

  @routes()
  @stack('dumper')
  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body>
  @inertia()
</body>

</html>
