.categories-wrapper {
    height: 100%;
    width: 300px;
    padding: 0 25px 0 10px;
    border-right: 1px solid #dadce0;
    margin-right: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    & .block-wrapper {
        height: auto;
        width: 100%;

        & h4 {
            user-select: none;
            text-transform: uppercase;
            font-size: 0.85em;
            color: #bbb;
            margin-bottom: 5px;
        }

        // List items
        & .items {
            animation: fadein 0.3s both;
        }
        & .items .item {
            position: relative;
            user-select: none;
            cursor: pointer;
            height: fit-content;
            width: 100%;
            background-color: #fff;
            padding: 7px 12px;
            border: 1px solid #dadce0;
            border-bottom: 2px solid #dadce0;
            border-radius: 3px;
            transition: 0.15s;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &.active {
                color: #fff;
                background: #3f88c5;
                border-color: #3f88c5;
            }

            &:hover:not(.active) {
                color: #3f88c5;
                background: #f0eef6;
                border-bottom: 2px solid #3f88c5;
            }
        }
    }

    // Favorites
    & .block-wrapper.favorites {
        margin-bottom: 15px;

        & .items .item {
            padding: 0;
            display: flex;
            align-items: center;
        }

        & .items .no-fav-link {
            user-select: none;
            text-align: center;
            font-style: italic;
            font-size: 0.9em;
            color: #bbb;
        }

        & .items .item a {
            width: 100%;
            text-decoration: none;
            color: inherit;
            padding: 7px 12px;
            border: 0 !important;
        }

        & .items .item .category {
            color: #bbb;
            font-size: 0.85em;
        }
    }

    // Categories
    & .block-wrapper.categories {
        min-height: 0;
        display: flex;
        flex: 1;
        flex-direction: column;

        & .items {
            padding-right: 5px;
            overflow-y: scroll;

            & .item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &.active .menu-item .option-edit svg {
                    fill: #fff;
                }

                & .content {
                    width: 100%;
                    display: flex;
                    flex: 1;
                    align-items: center;

                    & .name {
                        margin-right: 5px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    & .links-count {
                        min-width: fit-content;
                        font-size: 0.85em;
                        color: #bbb;
                    }
                }
                &:hover .content {
                    width: calc(100% - 42px);
                }

                & .menu-item {
                    height: 100%;
                    min-width: fit-content;
                    margin-left: 5px;
                    display: none;
                    gap: 2px;
                    align-items: center;
                    justify-content: center;
                    animation: fadein 0.3s both;

                    & > a {
                        border: 0;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            transform: scale(1.25);
                        }

                        & svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
                &:hover .menu-item {
                    display: flex;
                }
            }
        }
    }

    // Controls
    .controls {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    // User Card
    & .user-card-wrapper {
        position: relative;
        user-select: none;
        height: fit-content;
        width: 100%;
        color: #333;
        background-color: #fff;

        & .user-card {
            border: 1px solid #dadce0;
            padding: 7px 12px;
            display: flex;
            gap: 10px;
            align-items: center;

            & img {
                border-radius: 50%;
            }
        }

        & .disconnect-btn {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: #fff;
            display: none;
        }

        &:hover .disconnect-btn {
            display: block;
        }
    }
}

@keyframes fadein {
    0% {
        transform: translateX(-15px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
