:root {
	--ml-bg-light: rgb(240, 238, 246);
	--ml-bg-dark: rgb(34, 40, 49);
}

/* Fix nprogress position */
#nprogress {
	position: relative;
	z-index: 9999999;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* For light mode */
:root[data-mantine-color-scheme='light'] {
	--mantine-color-body: var(--ml-bg-light) !important;
}

/* For dark mode */
:root[data-mantine-color-scheme='dark'] {
	--mantine-color-body: var(--ml-bg-dark) !important;
}

@keyframes pageFadeIn {
	from {
		opacity: 0;
		filter: blur(0.44rem);
	}
	to {
		opacity: 1;
		filter: blur(0);
	}
}

.page-transition-enter {
	animation: pageFadeIn 250ms ease forwards;
	will-change: opacity, filter;
}
