/* Fix nprogress position */
#nprogress {
	position: relative;
	z-index: 9999999;
}
* {
	scroll-behavior: smooth;
	scrollbar-width: 7px;
	scrollbar-color: rgb(203 213 225 / 0.5) transparent;
}

html,
body {
	height: 100%;
	width: 100%;
}

*::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(203 213 225 / 0.5);
	border-radius: 4px;
	border: 2px solid transparent;
	background-clip: padding-box;
	transition: background-color 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: rgb(148 163 184 / 0.7);
}

.dark * {
	scrollbar-color: rgb(71 85 105 / 0.5) transparent;
}

.dark *::-webkit-scrollbar-thumb {
	background-color: rgb(71 85 105 / 0.5);
}

.dark *::-webkit-scrollbar-thumb:hover {
	background-color: rgb(100 116 139 / 0.7);
}

.page-transition-enter {
	animation: pageFadeIn 250ms ease forwards;
	will-change: opacity, filter;
}

@keyframes pageFadeIn {
	from {
		opacity: 0;
		filter: blur(0.44rem);
	}
	to {
		opacity: 1;
		filter: blur(0);
	}
}
