MYSQL_USER="my_user"
MYSQL_PASSWORD=""
MYSQL_DATABASE="my-links"
MYSQL_ROOT_PASSWORD="root"

# Or if you need external Database
# DATABASE_IP="localhost"
# DATABASE_PORT="3306"
# DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${DATABASE_IP}:${DATABASE_PORT}/${MYSQL_DATABASE}"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_URL_INTERNAL="http://localhost:3000"

NEXTAUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
