@import 'styles/colors.scss';

.visibility {
  font-weight: 300;
  font-size: 0.6em;
  color: rgba($color: $blue, $alpha: 0.75);
  border: 1px solid rgba($color: $blue, $alpha: 0.75);
  border-radius: 50px;
  padding: 0.15em 0.65em;
  display: flex;
  gap: 0.35em;
  align-items: center;
}
