form.search-form {
  width: 100%;
  flex: 1;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .search-input-field {
    width: 100%;
  }

  & > label {
    display: flex;

    & svg {
      padding: 0 1em;
      box-sizing: content-box;
    }
  }

  & input {
    width: 100%;
    font-size: 20px;
    padding: 0.75em 0;
    border: 1px solid transparent;
  }
}

.search-with-google {
  display: flex;
  align-items: center;
  gap: 0.25em;

  & > span {
    display: flex;
    align-items: "center";
  }
}

.search-list {
  margin: 1em 0;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.search-item {
  & > a {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
