.error-boundary {
  padding: 3em 2em;
  display: flex;
  justify-content: center;

  & .boundary-content {
    height: 100%;
    width: 600px;
    gap: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  & h1 {
    margin: 0;
  }

  & button {
    width: 175px;
  }
}

@media (max-width: 600px) {
  .error-boundary .boundary-content {
    width: 100%;
  }
}
