@import "../../../styles/colors.scss";

.favorites {
    height: auto;
    width: 100%;
    margin-bottom: 15px;

    & h4 {
        user-select: none;
        text-transform: uppercase;
        font-size: 0.85em;
        font-weight: 500;
        color: $grey;
        margin-bottom: 5px;
    }
}

.favorites ul.items li.item {
    width: 100%;
    background-color: $white;
    padding: 0;
    border: 1px solid $lightest-grey;
    border-bottom: 2px solid $lightest-grey;
    border-radius: 3px;
    transition: 0.15s;

    & a {
        width: 100%;
        color: inherit;
        padding: 0.65em 1.15em;
        border: 0 !important;
        display: flex;
        align-items: center;
        gap: 0.25em;
    }

    & .category {
        color: $grey;
        font-size: 0.85em;
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }

    &.active {
        color: $white;
        background: $blue;
        border-color: $blue;
    }

    &:hover:not(.active) {
        color: $blue;
        background: $light-grey;
        border-bottom: 2px solid $blue;
    }
}
