.info-msg {
    height: fit-content;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: #005aa5;
    background-color: #d3e8fa;
    padding: 10px;
    border-radius: 3px;
    animation: fadein 250ms both;
}

.error-msg {
    height: fit-content;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: #d8000c;
    background-color: #ffbabab9;
    padding: 10px;
    border-radius: 3px;
    animation: fadein 250ms both;
}

.success-msg {
    height: fit-content;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: green;
    background-color: #c1ffbab9;
    padding: 10px;
    border-radius: 3px;
    animation: fadein 250ms both;
}
