@import 'colors.scss';

.about-page {
  height: unset;
}

.page-content {
  margin-bottom: 4em;
  text-align: center;
  display: flex;
  gap: 2em;
  flex: 1;
  flex-direction: column;
}

header.hero {
  height: 275px;
  min-height: 275px;
  width: 100%;
  background-color: $darkest-blue;
  margin-top: 0.5em;
  border-radius: 3px;
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & h1 {
    font-size: 36px;
  }

  & p {
    font-size: 24px;
  }

  & a {
    font-size: 16px;
    width: fit-content;
    background-color: $blue;
    border-radius: 5em;
    padding: 0.5em 1.5em;
  }

  & * {
    color: $white;
    text-align: center;
  }
}

.about-list {
  margin: 4em 0;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-item {
  width: 350px;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & svg {
    color: $blue;
  }

  & div {
    font-size: 1.25em;
    font-weight: 500;
  }

  & p {
    color: $dark-grey;
  }
}

.screenshot-wrapper {
  position: relative;
  height: 360px;
  width: 640px;
  max-width: 100%;
  margin: 0 auto;

  & img {
    height: auto !important;
    width: 100%;
    box-shadow: 0 0 1em 1px $lightest-grey;
    border-radius: 3px;
    overflow: hidden;
  }
}
