$lightest-blue: #d3e8fa;
$light-blue: #82c5fede;
$blue: #3f88c5;
$dark-blue: #005aa5;

$white: #fff;

$lightest-grey: #dadce0;
$light-grey: #f0eef6;
$grey: #bbb;

$black: #333;

$light-red: #ffbabab9;
$red: #d8000c;

$light-green: #c1ffbab9;
$green: green;
