@import "keyframes.scss";
@import "colors.scss";

.create-app {
  height: fit-content;
  width: 680px;
  margin-top: 150px;
  flex-direction: column;
  gap: 15px;

  & h2 {
    color: $blue;
  }

  & form {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  & .input-field {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .create-app {
    width: 100%;
  }
}
