@import 'keyframes.scss';
@import 'colors.scss';

.form-container {
  height: fit-content;
  width: 768px;
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;

  & h2 {
    color: $blue;
  }

  & form {
    width: 100%;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
  }

  & .input-field {
    display: flex;
    gap: 0.25em;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 100%;
    margin-top: 5em;
    padding: 0 1em;
  }
}
