@import 'keyframes.scss';
@import 'colors.scss';
@import 'checkbox.scss';

*:not(ul) {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100dvh;
  color: $black;
  background-color: $light-grey;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  height: 100%;
  width: 1280px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

a:not(.reset) {
  width: fit-content;
  color: $blue;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: 0.15s;

  &:hover,
  &:focus {
    color: $dark-blue;
    border-bottom: 1px solid $dark-blue;
  }
}

a.reset {
  color: $blue;
  text-decoration: none;
  transition: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue;
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  height: 0.45em;
  width: 0.45em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 2px;

  &:hover {
    background: $dark-blue;
  }
}

label {
  user-select: none;
}

button:not(.reset),
a.btn:not(.reset) {
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: $white;
  background: $blue;
  padding: 0.75em;
  border: 1px solid $blue;
  border-radius: 3px;
  transition: 0.15s;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &:not(:disabled):hover {
    box-shadow: $dark-blue 0 0 3px 1px;
    background: $dark-blue;
    color: $white;
  }
}

button.red-btn {
  cursor: pointer;
  width: 100%;
  color: $white;
  background: $red;
  padding: 10px;
  border: 1px solid $red;
  border-radius: 3px;
  transition: 0.15s;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    box-shadow: $red 0 0 3px 1px;
    background: $red;
    border: 1px solid $light-red;
    color: $white;
  }
}

input:not(.reset) {
  color: $black;
  background: $white;
  padding: 10px;
  border: 1px solid $lightest-grey;
  border-bottom: 2px solid $lightest-grey;
  border-radius: 5px;
  transition: 0.15s;

  &:focus {
    border-bottom: 2px solid $blue;
  }
}

input::placeholder {
  font-style: italic;
  color: $lightest-grey;
}

.input-field {
  & input,
  & select {
    width: 100%;
  }

  & label {
    position: relative;
    width: fit-content;
  }

  &.required label::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -0.75em;
    color: $red;
  }
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: 5px;

  &.ltr {
    flex-direction: row;
  }

  &.rtl {
    flex-direction: row-reverse;
  }
}

select:not(.nostyle) {
  color: $black;
  background: $white;
  padding: 10px;
  border: 1px solid $lightest-grey;
  border-bottom: 3px solid $lightest-grey;
  transition: 0.15s;

  &:focus {
    border-bottom: 3px solid $blue;
  }
}

.reset {
  background-color: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

kbd {
  text-shadow: 0 1px 0 #fff;
  color: rgb(51, 51, 51);
  background-color: rgb(247, 247, 247);
  padding: 0.25em 0.5em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  display: inline-block;
}

.lang-selector {
  position: absolute;
  bottom: 4em;
  right: 2em;
}

.flex-row {
  flex-direction: row !important;
}

@media (max-width: 1280px) {
  .App {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .App {
    padding: 0.75em;
    flex-direction: column;
  }

  .flex-row {
    flex-direction: column !important;
  }
}
