@import 'colors.scss';

.swipe-handler {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  transition: background-color 0.15s;
}

.side-menu {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: $light-grey;
  box-shadow: 0 0 1em 0 $black-blur;
  padding: 0.75em;
}

.side-bar {
  padding: 0.75em 15px 0.75em 0.75em;
  border-right: 1px solid $lightest-grey;
  margin-right: 5px;
}
