@import 'keyframes.scss';
@import 'colors.scss';

.login-page {
  position: relative;
  height: 100%;
  width: 500px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-container {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 1.5em;
  flex-direction: column;
}

.form-wrapper {
  width: 100%;
  background-color: $white;
  padding: 2em;
  border-radius: 3px;
  border: 1px solid $lightest-grey;
  display: flex;
  gap: 1em;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & h1 {
    color: $black;
  }

  & p {
    font-size: 0.9em;
    font-style: italic;
    white-space: pre-wrap;
    color: $grey;
    display: flex;
    gap: 0.25em;
  }
}

.login-button {
  width: 100%;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;

  & > svg {
    background-color: $white;
    padding: 3px;
    border-radius: 50%;
  }
}

@media (max-width: calc(768px + 4em)) {
  .login-page {
    width: 100%;
    white-space: break-spaces;
    padding: 1em;
    align-items: center;
    flex-direction: column;
  }
}
