@import 'keyframes.scss';
@import 'colors.scss';

.login-page {
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url('/login-bg-final.webp') bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-container {
  width: auto;
  max-width: 100%;
  white-space: nowrap;
  background-color: $black-blur;
  backdrop-filter: blur(0.35em);
  padding: 2.5em;
  border-radius: 5px;
  border: 1px solid $white;
  display: flex;
  gap: 2.5em;
  flex-direction: row;
}

.image-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-items: center;
}

.form-wrapper {
  display: flex;
  gap: 1em;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & h1 {
    color: $white;
  }
}

.login-button {
  width: 100%;
  color: $dark-blue;
  background-color: $white;
  padding: 0.5em;
  border-radius: 3px;
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
}

@media (max-width: calc(768px + 4em)) {
  .login-page {
    padding: 1em;
    justify-content: flex-start;
  }

  .login-container {
    width: auto;
    white-space: break-spaces;
    align-items: center;
    flex-direction: column;
  }
}
