@import 'colors.scss';

table {
  height: auto;
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 400;
  background-color: $lightest-blue;
}

td,
th {
  padding: 0.45em;
}

th,
td {
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #fff;
}

table .cell {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.35em;

  &:not(.fixed) {
    justify-content: center;
  }

  &.column {
    gap: 0;
    flex-direction: column;
  }
}
