@import "styles/keyframes.scss";
@import "styles/colors.scss";

.no-link,
.no-category {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadein 0.3s both;
}

.links-wrapper {
  height: 100%;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;

  & h2 {
    color: $blue;
    margin-bottom: 15px;
    font-weight: 500;

    & .links-count {
      color: $grey;
      font-weight: 300;
      font-size: 0.8em;
    }
  }
}

.links {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  animation: fadein 0.3s both; // bug on drag start
}

.link {
  user-select: none;
  cursor: pointer;
  height: fit-content;
  width: 100%;
  color: $blue;
  background-color: $white;
  padding: 10px 15px;
  border: 1px solid $lightest-grey;
  border-radius: 3px;
  margin-bottom: 10px;
  outline: 3px solid transparent;
  display: flex;
  align-items: center;
  transition: 0.15s;

  &:hover {
    border: 1px solid transparent;
    outline: 3px solid $light-blue;

    & .url-pathname {
      animation: fadein 0.3s both;
    }

    & .controls {
      display: flex;
      animation: fadein 0.3s both;
    }
  }
}

.link > a {
  height: 100%;
  max-width: calc(100% - 125px); // TODO: faut fix ça, c'est pas beau
  text-decoration: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: 0.1s;

  &,
  &:hover {
    border: 0;
  }

  & .link-name {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  & .link-name .link-category {
    color: $grey;
    font-size: 0.9em;
  }

  & .link-url {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $grey;
    font-size: 0.8em;

    & .url-pathname {
      opacity: 0;
    }
  }
}

.link .controls {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & > * {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;

    &:hover {
      transform: scale(1.3);
    }

    & svg {
      height: 20px;
      width: 20px;
    }
  }
}

.favicon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favicon-loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;

  & > * {
    animation: rotate 1s both reverse infinite linear;
  }
}
