@import "styles/colors.scss";

.user-card-wrapper {
  user-select: none;
  height: fit-content;
  width: 100%;
  color: $black;
  background-color: $white;
  border: 1px solid $lightest-grey;
  padding: 7px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .user-card {
    display: flex;
    gap: 0.5em;
    align-items: center;

    & img {
      border-radius: 50%;
    }
  }

  & button {
    cursor: pointer;
    color: $blue;
    display: flex;
    transition: 0.15s;

    &:hover {
      transform: scale(1.3);
    }
  }
}
