.wrapper {
	padding-top: calc(var(--mantine-spacing-xl) * 2);
	padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.title {
	font-family:
		Greycliff CF,
		var(--mantine-font-family);
	margin-bottom: var(--mantine-spacing-md);
	text-align: center;

	@media (max-width: $mantine-breakpoint-sm) {
		font-size: rem(28px);
		text-align: left;
	}
}

.description {
	color: var(--mantine-color-dimmed);
	text-align: center;

	@media (max-width: $mantine-breakpoint-sm) {
		text-align: left;
	}
}
