.footer {
	width: 100%;
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: $mantine-breakpoint-xs) {
		flex-direction: column;
	}
}

.links {
	@media (max-width: $mantine-breakpoint-xs) {
		margin-top: var(--mantine-spacing-md);
	}
}
