@import "styles/colors.scss";

.info-msg {
  height: fit-content;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  color: $dark-blue;
  background-color: $lightest-blue;
  padding: 10px;
  border-radius: 3px;
  animation: fadein 250ms both;
}

.error-msg {
  height: fit-content;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  color: $red;
  background-color: $light-red;
  padding: 10px;
  border-radius: 3px;
  animation: fadein 250ms both;
}

.success-msg {
  height: fit-content;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  color: $green;
  background-color: $light-green;
  padding: 10px;
  border-radius: 3px;
  animation: fadein 250ms both;
}
