@import 'styles/colors.scss';

.side-menu {
  height: 100%;
  width: 325px;
  padding: 0 25px 0 10px;
  border-right: 1px solid $lightest-grey;
  margin-right: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.menu-controls {
  margin: 10px 0;
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .action {
    font-size: 0.95em;
    display: flex;
    gap: 0.5em;
  }
}
