.navbar {
  width: 100%;
  padding: 0.75em;
}

.navbar ul {
  display: flex;
  gap: 1.5em;
  justify-content: center;
}

.navbar .user {
  display: flex;
  gap: 0.25em;
  justify-content: center;

  & img {
    border-radius: 50%;
  }
}
