@component('emails/layout', { title: 'A password was added to your account' })
  <p style="margin: 0 0 16px;">Hi {{ name }},</p>

  <p style="margin: 0 0 16px;">
    Your {{ brandName }} account can now be signed in to with an email address
    and a password, on top of the sign-in methods it already had. Nothing else
    changed, and you are still signed in everywhere you were.
  </p>

  <p style="margin: 0;">
    If you did not do this, change your password immediately from
    <a href="{{ appUrl }}" style="color: #18181b;">{{ appUrl }}</a>.
  </p>
@end
