.linkWrapper {
	user-select: none;
	cursor: pointer;
	width: 100%;
	background-color: light-dark(var(--mantine-color-white), rgb(50, 58, 71));
	padding: 0.5em 0.75em !important;
	border: 1px solid transparent;
}

.linkWrapper:hover {
	border: 1px solid var(--mantine-color-blue-4);
}

.linkUrl {
	max-width: calc(100% - 50px);
	transition: opacity 0.15s;
}

.linkWrapper:hover .linkUrlPathname {
	opacity: 1;
}

.linkUrlPathname {
	opacity: 0;
	transition: opacity 0.15s;
}
