.create-app {
    height: fit-content;
    width: 680px;
    margin-top: 150px;
    flex-direction: column;
    gap: 15px;

    & h2 {
        color: #3f88c5;
    }

    & form {
        height: 100%;
        width: 100%;
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    & .input-field {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
}

@media (max-width: 680px) {
    .create-app {
        width: 100%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
