@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap');

* {
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: Poppins, sans-serif;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#__next {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul, li {
	list-style: none;
}