@import 'styles/keyframes.scss';
@import 'styles/colors.scss';

.categories {
  height: 100%;
  width: 100%;
  min-height: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.items {
  overflow-y: auto;
  overflow-x: hidden;
}

.item {
  border-bottom: 2px solid transparent !important;
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: space-between;
  transition: 0.15s box-shadow;

  &.active {
    color: $blue;
    border-bottom: 2px solid $lightest-grey !important;
  }

  &:hover:not(.active) {
    color: $blue;
  }

  &.active .menu-item .option-edit svg {
    fill: $white;
  }

  & .content {
    width: calc(100% - 24px);
    display: flex;
    gap: 0.35em;
    align-items: center;

    & .name-wrapper {
      min-width: 0;
      width: 100%;
      display: flex;
      gap: 0.35em;
      flex: 1;
      align-items: center;
    }

    & .name {
      min-width: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    & .links-count {
      min-width: fit-content;
      font-size: 0.85em;
      color: $grey;
    }
  }

  & .menu-item {
    height: 100%;
    min-width: fit-content;
    margin-left: 5px;
    display: none;
    gap: 2px;
    align-items: center;
    justify-content: center;
    animation: fadein 0.3s both;

    & > a {
      border: 0;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1.25);
      }

      & svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  &:hover .menu-item {
    display: flex;
  }
}
