.footer {
	background-color: color-mix(
		in srgb,
		var(--mantine-color-body) 50%,
		transparent
	);
	padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
}

.footer__content {
	max-width: 100%;
	gap: var(--mantine-spacing-xs);
	margin-inline: auto;
}

.footer__content p {
	font-size: var(--mantine-font-size-sm) !important;
	color: var(--mantine-color-dimmed) !important;
}

.footer__content a {
	font-size: var(--mantine-font-size-sm) !important;
}
