.navbarWrapper {
	z-index: 9;
}

.navbar {
	height: rem(60);
	background-color: color-mix(
		in srgb,
		var(--mantine-color-body) 50%,
		transparent
	);
	padding-inline: var(--mantine-spacing-lg);
	transition: transform 400ms ease;
	backdrop-filter: blur(16px);
	overflow: hidden;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}

.navbar__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	max-width: 100%;
	margin-inline: auto;
}

.navbar__content > div:last-child {
	flex: 1;
	justify-content: flex-end;
}
